node_modules
/generated
/target
/app/blog-data.server.ts

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
.vercel



.nx/cache
.nx/workspace-data
.env*.local
